@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --neutral-color-100: #9c9c9c;
  --neutral-color-200: #645c54;
  --neutral-color-300: #484848;
  --neutral-color-400: #373737;
  --neutral-color-500: #2a2a2a;

  --primary-color-100: #f0dfce;
  --primary-color-200: #e4be98;
  --primary-color-300: #c09162;
  --primary-color-400: #905923;
  --primary-color-500: #533314;

  --secondary-color-100: #cbdfee;
  --secondary-color-200: #91bcdd;
  --secondary-color-300: #639ac3;
  --secondary-color-400: #4579a0;
  --secondary-color-500: #1f3f59;

  --success-color-100: #c6e9df;
  --success-color-200: #99dac8;
  --success-color-300: #5ebba1;
  --success-color-400: #349378;
  --success-color-500: #1a6550;

  --warning-color-100: #f3ecd2;
  --warning-color-200: #e3d398;
  --warning-color-300: #c3ae63;
  --warning-color-400: #a38e46;
  --warning-color-500: #5b4e20;

  --error-color-100: #edcbcb;
  --error-color-200: #d78e8e;
  --error-color-300: #b64d4d;
  --error-color-400: #922d2d;
  --error-color-500: #751717;

  --gradient-color-dark: linear-gradient(90deg, #140d05 0%, #363533 100%);
  --gradient-color-light: linear-gradient(180deg, #484a4e 0.6%, #adb3bd 100.6%);
  --gradient-color-blue: linear-gradient(180deg, #4579a0 0.6%, #1f3f59 100.6%);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a p {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}
body {
  background: linear-gradient(180deg, #131313 0%, #474646 100%);
  background-attachment: fixed;
}

#cubex-navbar {
  background: linear-gradient(90deg, #140d05 0%, #363533 100%);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  padding: 0px 56px;
  z-index: 999;
  height: 79px;
  width: 100%;
}

.page-sidebar {
  background: linear-gradient(180deg, #9a9188 0%, #645c54 32.4%, #110f0c 100%);
  height: 100vh;
  width: 318px;
  padding: 109px 16px 30px 16px;
  overflow-y: scroll;
}

#main-content-wrapper {
  margin-left: 318px;
  min-height: 100vh;
  padding-top: 79px;

  background-position: fixed;
}

.page-content-wrapper {
  background: linear-gradient(180deg, #131313 0%, #474646 100%);
  background-attachment: fixed;
}

#main-content {
  padding: 30px;
}

#logo-cubex {
  margin-right: 176px;
}

.input {
  border-radius: 10px;
  border: none;
  height: 39px;
  width: 269px;
  /* width: 100%; */
  padding: 0px 16px;
}

.input-dark {
  background: #000000;
}

.input-dark:focus {
  outline: none;
}

.input-dark::placeholder {
  color: #d3d3d3;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.text-light {
  color: #dfdfdf !important;
}
.card {
  background-color: #645c54;
}
.bg-neutral {
  background-color: var(--neutral-color-200);
}
.card-cubex {
  background-color: var(--neutral-color-300);
  border-radius: 8px;
  padding: 23px;
}
.toggle {
  width: 97px;
  height: 38px;
  background: black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: relative;
}
.toggle::before {
  content: "";
}
.toggle::after {
  content: "";
  width: 24px;
  height: 24px;
  /* border: 1px solid red; */
  background-image: url(dark-mode-moon-icon.svg);
}

.toggle-switch {
  background-color: #484848;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  position: absolute;
  left: 3px;
}
.btn {
  border-radius: 8px;
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.btn-primary {
  background-color: var(--primary-color-300);
  border: none;
}

.btn-primary:hover {
  background-color: var(--primary-color-400);
  border: none;
}

.btn-primary:focus {
  background-color: var(--primary-color-400);
  border: none;
  box-shadow: 0 0 0 0.2rem rgba(240, 223, 206, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: var(--primary-color-300);
  border-color: var(--primary-color-100);
  box-shadow: 0 0 0 0.2rem rgba(240, 223, 206, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--primary-color-300);
  border-color: var(--primary-color-100);
  box-shadow: 0 0 0 0.2rem rgba(240, 223, 206, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
  background-color: var(--primary-color-300);
  border-color: var(--primary-color-100);
  box-shadow: 0 0 0 0.2rem rgba(240, 223, 206, 0.5);
}

.btn-outline-primary {
  color: var(--primary-color-300);
  border-color: var(--primary-color-300);
}
.btn-outline-primary:hover {
  background: transparent;
  color: var(--primary-color-400);
  border-color: var(--primary-color-400);
}
.mb-10 {
  margin-bottom: 10px;
}
.sidebar-nav-item {
  height: 51px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 20px;
}
.sidebar-nav-item.divider {
  color: #a9a9a9;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.sidebar-nav-item.active {
  background-color: #54504c;
}
.sub-header-title {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}
.sub-header-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.monitor {
  height: 512px;
  background-image: url("bg-dot.svg");
  background-size: cover;
  background-position: center;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #2a2a2a;
  cursor: pointer;
  height: 7px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0; /* Centers thumb on the track */
  background-color: var(--primary-color-300);
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.color-range input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #2a2a2a;
  cursor: pointer;
  height: 7px;
  border-radius: 10px;
  transform: translateY(-14px);
}

.color-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0; /* Centers thumb on the track */
  background-color: var(--primary-color-200);
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.cubex-label {
  background-color: #373737;
  padding: 15px;
  width: 220px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
}

.cubex-input {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0px 15px;
  background-color: var(--neutral-color-500);
  color: #d3d3d3;
  height: 51px;
  width: 324.98px;
}
.cubex-input:focus {
  background-color: var(--neutral-color-500);
}
.cubex-form-group {
  background-color: #373737;
  border-radius: 10px;
  padding-left: 14px;
  height: 51px;
}
.cubex-input-color {
  outline: none;
  border: none;
  padding: 5px;
  color: #d3d3d3;
  height: 100px;
  width: 324.98px;
}

input[type="color"] {
  padding: 3px;
  height: 35px;
  width: 324.98px;
  border-radius: 10px;
  background-color: var(--neutral-color-500);
  transform: translateY(-6px);
}
.table th,
.table td,
.table thead th {
  border: none;
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(55, 55, 55, 1);
}
thead {
  background-color: var(--neutral-color-500);
  border: none;
}
.template-image {
  display: flex;
  align-items: center;
  gap: 5px;
}
.template-image img {
  width: 30px;
  border-radius: 100%;
}
.gap-5 {
  gap: 5px;
}
.gap-30 {
  gap: 30px;
}
.canvas-html {
  border-radius: 8px;
  background-color: #f0f0f0;
  background-image: url("Dot-Vector.png");
  background-position: center;
  background-size: cover;
  min-height: 1000px;
  color: black;
}
.bg-neutral-800 {
  background-color: var(--neutral-color-400);
}
.cubex-select {
  background-color: var(--neutral-color-300);
  color: var(--neutral-color-100);
}

.cursor-pointer {
  cursor: pointer;
}
.cubex-select-label {
  background-color: #373737;
}
.cubex-select {
  background-color: var(--neutral-color-500);
}

.border-active {
  border: 1px solid red;
}

.pagination .page-item .page-link {
  background-color: var(--neutral-color-500);
  border: none;
  color: var(--secondary-color-100);
}
.pagination .page-item.active .page-link {
  background-color: var(--primary-color-300);
  border: none;
  color: white;
}

/* Loading */
.spinner {
  width: 60px;
  height: 60px;
  -webkit-animation: spinner-y0fdc1 2s infinite ease;
  animation: spinner-y0fdc1 2s infinite ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: #645c54;
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid white;
}

.spinner div:nth-of-type(1) {
  -webkit-transform: translateZ(-22px) rotateY(180deg);
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  -webkit-transform: rotateY(-270deg) translateX(50%);
  transform: rotateY(-270deg) translateX(50%);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  -webkit-transform: rotateY(270deg) translateX(-50%);
  transform: rotateY(270deg) translateX(-50%);
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  -webkit-transform: rotateX(90deg) translateY(-50%);
  transform: rotateX(90deg) translateY(-50%);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  -webkit-transform: rotateX(-90deg) translateY(50%);
  transform: rotateX(-90deg) translateY(50%);
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  -webkit-transform: translateZ(22px);
  transform: translateZ(22px);
}

@-webkit-keyframes spinner-y0fdc1 {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@keyframes spinner-y0fdc1 {
  0% {
    -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
/* End Loading */
